@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-banner{
    /* min-width: 100vh; */
    min-height: 100vh;
    background-image: linear-gradient( rgba(15, 15, 15, 0.384), rgba(26, 26, 24, 0.788)), url(/public/site-img/pexels-tanya-gorelova-3933207.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

@media only screen and (max-width: 768px)  {
    .bg-banner{
        min-width: none;
    }
}

.footer{
    background-color: black;
}